* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  overflow-x: none;
}

.app {
  background-color: rgb(0, 9, 76);
  min-height: 100vh;
  width: 100vw;
  padding: 3rem 12rem;
}

#title {
  color: white;
  font-size: 3rem;
}

.app-center {
  margin-top: 3rem;
}
